.alert {
    position: fixed;
    top: 4em;
    max-width: 70%;
    z-index: 50000;
    right: 4.3em;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}