<div class="container">


  <div class="col-md-8 offset-md-3 fondocard" *ngIf="loading==false  ">
    <div class="card-body">
      <h3>Resultados Encuesta Generos Musicales</h3>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Resultados</li>
        </ol>
      </nav>

      Cantidad de Registros
      <select class="" [(ngModel)]="defaultSize" (change)="cambiosize($event)">
        <option value="7">7</option>
        <option value="15">15</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Genero</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let encuesta of page.content">

            <td>{{encuesta.mail}}</td>
            <td>{{encuesta.generoMusical.nombreGenero}}</td>

          </tr>

        </tbody>
      </table>

      <app-paginator [paginator]="page" (pageChanged)="getEncuesta($event)"></app-paginator>
    </div>
  </div>
</div>
