<div class="col-md-12 offset-md-5 ">
<div class="top">

</div>
<br>
<div class="row" >
  <div class="col-lg-4 col-sm-6 col-xs-12 contenedor" >
     <a  href="encuesta/formulario"><div class="box-image-sistema text-center " data-id="1" >

            <h2 class="centrado">Encuesta</h2>
    </div>
    </a>
  </div>

</div>
<div class="row" >

<div class="col-lg-4 col-sm-6 col-xs-12 contenedor" >
   <a  href="encuesta/lista" ><div class="box-image-sistema text-center " data-id="1" >

          <h2 class="centrado">Resultados Encuesta</h2>
  </div>
  </a>
</div>
</div>
</div>
