
.titulocard {
    padding-top: 25%;
    color: white;
}
.card-body {
       padding: 0rem;
}
#aside-user-panel {
	height: 44px;
}
.box-image-sistema {
  background-color: #ffcb05!important;
	color: white;
	height: 150px;
	margin-bottom: 15px;
	background-size: cover;
	border: 4px #d2d6de solid;
	background-position: center center;
	display: table;
    text-align: center;
    width: 100%;
}
.box-image-sistema:HOVER {
	border: 4px #3E5F9A solid;
	cursor: pointer;
}
.box-image-sistema h2 {
  	display: table-cell;
    vertical-align: middle;
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;

}
#header-li-salir {
	background-color: #dd4b39;
}
.box.box-verde {
	border-top-color: #A0B843;
}
.table-index_paginate {
	float: right;
}
.fa-hover:HOVER {
	color: red;
	cursor: pointer;
}
#icono-preview {
	padding-top: 10px;
}
#titulo-pagina {
    font-size: 25px;
}

.contenedor{

    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
