<div class="container bd-example">

  <div class="col-md-8 offset-md-3  card-body fondocard">
    <h3>Encuesta Generos Musicales</h3>
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Encuesta</li>
  </ol>
</nav>
    <form [formGroup]="editor" >



      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" formControlName="email" placeholder="email@example.com" required>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Genero Musical</label>
        <div class="col-sm-10">

          <select class="form-select" formControlName="genero" id="input-genero">
            <option value="0">Seleccione el Genero Musical</option>
            <option *ngFor="let genero of generos" value="{{genero.idGenero}}">{{genero.nombreGenero}} </option>
          </select>

        </div>
      </div>
    </form>

    <div class="order-buttons">
    <button   (click)="submit()"  class="btn btn-success btn-lg" *ngIf="!grabando">Guardar</button>
    </div>
  </div>

</div>
