.fondocard{
  background-color: white!important;
        border-radius: 0.25rem;
}
.container{

padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
