<div class="fondo">


<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-brand">
     <img src="assets/img/3it.png" width="30" height="30" class="d-inline-block" alt="">
      <a class="navbar-brand" href="#">Prueba Tecnica 3IT</a>
    </div>
</nav>

<div class="container-fluid fondo">
  <div class="row">

    <div id="col-content" class="col-12 col-lg-10 main">

            <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

</div>
